[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pymongo = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
opencv-python = "*"
onnxruntime = "*"
torch = "*"
facenet-pytorch = "*"
tomli = "*"
dill = "*"
flask-wtf = "*"
flask-mongoengine = "*"
flask-pymongo = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.10"
