[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
numpy = "*"
pymongo = "*"
flask-login = "*"
flask-sqlalchemy = "*"
black = "*"
flask-wtf = "*"
flask-mongoengine = "*"
"flask.json" = "*"
flask-pymongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
