{% extends 'layouts/layout.html' %}

{% block title %}
    Sketch
{% endblock %}

{% block content %}
    <div class="container mt-4 text-center">
        <div class="container m-4 d-flex justify-content-between">
            <a href="/previous" class="btn btn-secondary">See Previous Renders</a>
            <a href="/logout" class="btn btn-secondary">Log Out</a>
        </div>

        <a href="/" class="btn btn-primary mb-4"> Create another sketch? </a>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Photo</h2>
                <img src="/images/user_image/{{ image_name }}" class="img-fluid" alt="User Image"/>
            </div>
            <div class="col-md-6 text-center">
                <h2>Sketch</h2>
                <img src="/images/sketch_image/{{ image_name }}" class="img-fluid" alt="Sketch Image"/>
            </div>
        </div>
    </div>
{% endblock %}