{% extends 'layouts/layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <script defer src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <h1> Sketchify </h1>
            <h3> See Yourself in a sketch! </h3>
            <hr>
        </div>
    </header>

    <a href="/previous"> See Previous Renders! </a>

    <body>

    <div class="container mt-4">

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <!-- Upload Image -->
        <form action="/sketchify" method="post" enctype="multipart/form-data" class="mb-3">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="photo">Select file to upload:</label>
                        <input type="file" name="photo" id="photo" class="form-control-file">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Upload File</button>
                    </div>
                </div>
            </div>
        </form>

        <hr>

        <!-- Webcam Capture -->
        <div class="container mt-4 text-center">
            <h2>Capture Image from Webcam</h2>
            <button id="enableWebcamButton" class="btn btn-primary mb-3">Use Webcam</button>
            <div class="webcam">
                <div id="cameraContainer" class="d-flex justify-content-center flex-column align-items-center">
                    <video id="video" width="640" height="480" autoplay class="mb-3"></video>
                    <canvas id="canvas" width="640" height="480" class="mb-3" style="display:none;"></canvas>
                </div>
                <button id="snap" class="btn btn-success mb-3">Capture Photo</button>
                <button id="retry" class="btn btn-warning mb-3" style="display:none;">Retry</button>
                <button id="uploadSnap" class="btn btn-secondary mb-3" style="display:none;">
                    Upload Captured Image
                </button>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

